/*---------------------------------------------------
---------------------- GENERALE ----------------------
-----------------------------------------------------*/
/*imposto i link ad essere tutti in corsivo per una maggiore usabilità*/
/*imposto i link ad essere tutti in corsivo per una maggiore usabilità*/
a{
	font-variant: small-caps;
	color: #0000CD;
}

a:visited{
	color: #800000;
}


#header_login a:hover,
#path a:hover,
#nav_panel a:hover,
#contents a:hover
{
	font-size: 1.1em;
}

html, body {
	/*Cambio eventuali valori di default della pagina*/
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*Imposto il font e la grandezza predefinita per tutta la pagina*/
    font-family: "Droid Sans", Verdana, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 1em;
}

fieldset{
	padding-top: 15px;
	border-width: 1px;
	border-color: #D3D3D3;
}


#container {
	/*Spingo il footer in fondo alla pagina con un gioco di dimensioni */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 

    /*Imposto la pagina*/
    width: 95%;
} 

/*style per le immagini di validazione*/
.img_validator{
	border: 0px;
	width: 88px;
	height: 31px;
}

.buttons{
	width: 150px;
	height: 25px;
	margin: 20px 0px 0px 20px;
}


/*definisco delle classi generali di grandezza per le scritte e per underline*/
.notable{
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.1em;
}

.minimal
{
	font-size: 0.9em;
}

.underline{
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 20px;
}

.msgError{	/*messaggi di modifica non andata a buon fine*/
	color: #FF0000;
	text-align: center;
}

.msgConfirm{	/*messaggi di modifica andata a buon fine*/
	color: #228B22;
	text-align: center;
}

.current_pageL{ /*Classe per la voce di menù selezionata*/
	font-style: italic;
	font-weight: bold;
	list-style-type: disc;
	margin-left: 20px;
}

.screen_reader{
	display: none;
}

/*Regole per i blocchi delle inserzioni*/
/* versione migliore con dl */
#block_insertions{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#block_insertions li{
	padding: 20px 0px 20px 0px;

	border-style: solid;
	border-color: #D3D3D3;
	border-width: 0px 0px 1px 0px;
}

	#block_insertions .block_insertion{
		padding: 0px;
		margin: 0px;
	}

	#block_insertions .block_insertion dt{
		display: inline-block;
		width: 7%;
		height: 1.1em;
	}

	#block_insertions .block_insertion dd{
		padding: 0.8em 0em 0.8em 0em;
		display: inline-block;
		width: 85%;
	}

	#block_insertions .block_insertion .BI_accepted li{
		display: inline-block;
		border-width: 0px;
		margin: 5px 10px 5px 10px;
	}

/* regole per informazioni utente */
 	.block_profile{
		padding: 0px;
		margin: 0px;
	}

	.block_profile dt{
		display: inline-block;
		width: 13%;
		height: 1em;
	}

	.block_profile dd{
		padding: 0.8em 0em 0.8em 0em;
		display: inline-block;
		width: 80%;
	}

	/*---------------------------------------------------
	----------------------HEADER-------------------------
	-----------------------------------------------------*/
	#header{
		background-color: #F0F8FF;
		padding: 20px 20px 20px 20px;
		height: auto;
		/* border */
		border-style: solid;
		border-width: 0px 1px 1px 1px;
		border-color: #D3D3D3;
	}

		#header_logo{
			display: block;
			margin: auto;
			max-height: 230px;
			max-width: 170px;
			width: 170px;
			border: 0px;
		}

		#header h1,
		#header h2{
			display: none;
		}

		#header_login{
			text-align: center;
		}

			#header_login div{
				margin-top: 10px;
			}


	/*---------------------------------------------------
	------------------------PATH-------------------------
	-----------------------------------------------------*/
	#path
	{
		padding: 10px 20px 10px 20px;
		clear:both;
		background-color: #F0F8FF;
		margin-top: 5px;
		/* border */
		border-style: solid;
		border-width:1px;
		border-color: #D3D3D3;
	}


	/*---------------------------------------------------
	------------------------MENU-------------------------
	-----------------------------------------------------*/
	
	#nav_panel{
		margin-top: 20px;
		width: 100%;
	}

		.menu{
			background-color: #F0F8FF;
			padding:1px 20px 1px 20px;

			/* border */
			border-style: solid;
			border-width:1px;
			border-color: #D3D3D3;
		}

		.menu ul{
			list-style-type: none;
			padding: 0px;
		}

		.menu ul li{
			padding-bottom: 1.2em;
			height: 1em;
		}

			.menu h3{
				text-align: center;
				padding-bottom:10px;
				border-style: solid;
				border-color: #D3D3D3;
				border-width: 0px 0px 1px 0px;
			}


/*menu per il login*/
		#nav_login{
			margin-top: 20px;
		}

		#nav_login div{
			height: 6em;
		}

			#nav_login form{
				margin-bottom: 10px;
			}

				#nav_login fieldset{
					padding-top: 15px;
				}

					#nav_login form input{
						width: 100%;
					} 

					#login_submit{
						width: 100px;
						height: 25px;
						float: right;
						margin-top: 10px;
					}

			#nav_login a{
				display: block;
				text-align: right;
				padding: 5px 0px 5px 0px;
			}

		/*menu amministrativo*/
		#nav_administration
		{
			margin-top: 20px;
		}

		/*span nel menu nav e nel menu amministraz*/




	/*---------------------------------------------------
	----------------------CONTENUTO----------------------
	-----------------------------------------------------*/
	#contents{
		margin-top: 20px;
		padding:1px 20px 20px 20px;
		background-color: #F0F8FF;

		/* border */
		border-style: solid;
		border-width:1px;
		border-color: #D3D3D3;
	}

		#contents h3 {
			text-align: center;
			padding-bottom:10px;
			border-style: solid;
			border-color: #D3D3D3;
			border-width: 0px;
			border-bottom-width: 1px;
		}


/*---------------------------------------------------
----------------------FOOTER-------------------------
-----------------------------------------------------*/
#footer{

	background-color: #F0F8FF; 

	/*Imposto la posizione e la dimensione*/
	width: 95%;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	text-align: center;

	/* border */
	border-style: solid;
	border-width:1px 1px 0px 1px;
	border-color: #D3D3D3;
}

/*---------------------------------------------------
-----------------CONTENUTO AGGIUNTIVO----------------
-----------------------------------------------------*/
/*-------------- login.html-------------------*/
#cont_login {
}

	#cont_login p{
		color: #FF0000;
		text-align: center;
	}
	
	#cont_login form fieldset{
		margin: auto;
		margin: 20px auto 20px auto;
	}

		#cont_login form fieldset input{
			width: 100%;
		}

			#cont_login form #login_submit, 
			#cont_login form #login_reset{
				width: 150px;
				height: 25px;
				float: right;
				margin: 20px 0px 10px 20px;
			}



/*-------------- registration.html-------------------*/
#cont_registration {
}

	#cont_registration p{
		color: #FF0000;
		text-align: center;
	}
	
	#cont_registration form fieldset{
		margin: auto;
		margin: 20px auto 20px auto;
	}

		#cont_registration form fieldset label{
			display: block;
			margin-top: 0.4em;
			margin-bottom: 0.2em;
		}

		#cont_registration form fieldset input{
			width: 100%;
		}

		#cont_registration #reg_year,
		#cont_registration #reg_month,
		#cont_registration #reg_day{
			width: 20%
		}

			#cont_registration form #login_password, 
			#cont_registration form #login_reset{
				width: 150px;
				height: 25px;
				float: right;
				margin: 20px 0px 10px 20px;
			}


/*-------------- pass_recovery.html-------------------*/
#cont_pass_recovery {
}

	#cont_pass_recovery p{
		color: #FF0000;
		text-align: center;
	}
	
	#cont_pass_recovery form fieldset{
		margin: auto;
		margin: 20px auto 20px auto;
	}

		#cont_pass_recovery form fieldset input{
			width: 100%;
		}


		#cont_pass_recovery #recover_year,
		#cont_pass_recovery #recover_month,
		#cont_pass_recovery #recover_day{
			width: 20%
		}

			#cont_pass_recovery form #recover_submit, 
			#cont_pass_recovery form #recover_reset{
				width: 150px;
				height: 25px;
				float: right;
				margin: 20px 0px 10px 20px;
			}
