/*---------------------------------------------------
---------------------- GENERALE ----------------------
-----------------------------------------------------*/

html, body {
	/*Cambio eventuali valori di default della pagina*/
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*Imposto il font e la grandezza predefinita per tutta la pagina*/
    font-family: "Droid Sans", Verdana, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 1em;
}


#container {
	/*Spingo il footer in fondo alla pagina con un gioco di dimensioni */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; 

    /*Imposto la pagina*/
    width: 95%;
} 

/*style per le immagini di validazione*/
.img_validator{
	border: 0px;
	width: 88px;
	height: 31px;
}


/*definisco delle classi generali di grandezza per le scritte e per underline*/

.underline{
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 20px;
}

.screen_reader{
	display: none;
}

/*Regole per i blocchi delle inserzioni*/
/* versione migliore con dl */
#block_insertions{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#block_insertions li{
	padding: 20px 0px 20px 0px;

	border-style: solid;
	border-color: #D3D3D3;
	border-width: 0px 0px 1px 0px;
}

	#block_insertions .block_insertion{
		padding: 0px;
		margin: 0px;
	}

	#block_insertions .block_insertion dt{
		display: inline-block;
		width: 7%;
		height: 1.1em;
	}

	#block_insertions .block_insertion dd{
		padding: 0.8em 0em 0.8em 0em;
		display: inline-block;
		width: 85%;
		height: 1.1em;
	}



	/*---------------------------------------------------
	----------------------HEADER-------------------------
	-----------------------------------------------------*/
	
	#header{
		background-color: #F0F8FF;
		padding: 20px 20px 20px 20px;
		height: auto;
		/* border */
		border-style: solid;
		border-width: 0px 1px 1px 1px;
		border-color: #D3D3D3;
	}

		#header_logo{
			float: left;
			margin: 0.5em 20px 1em 20px;
			max-height: 230px;
			max-width: 170px;
			width: 170px;
			border: 0px;
		}

		#header h1{
			margin-top: 0.5em;
			margin-left: 250px;
		}

		#header h2{
			margin-bottom: 0.5em;
			margin-left: 250px;
		}

	/*---------------------------------------------------
	----------------------CONTENUTO----------------------
	-----------------------------------------------------*/
	#contents{
		margin-top: 20px;
		padding:1px 20px 20px 20px;
		background-color: #F0F8FF;

		/* border */
		border-style: solid;
		border-width:1px;
		border-color: #D3D3D3;
	}

		#contents h3 {
			text-align: center;
			padding-bottom:10px;
			border-style: solid;
			border-color: #D3D3D3;
			border-width: 0px;
			border-bottom-width: 1px;
		}


	/*Div utilizzato per spingere in fondo alla pagina il footer*/
	#push_block {
		/*Impostazioni*/
	    height: 50px; 
	    clear: both;
	}


/*---------------------------------------------------
----------------------FOOTER-------------------------
-----------------------------------------------------*/
#footer{

	background-color: #F0F8FF; 

	/*Set position and dimension*/
	width: 95%;
	margin: 75px auto 0px;
	padding: 10px 20px 10px 20px;
	text-align: center;

	/* border */
	border-style: solid;
	border-width:1px 1px 0px 1px;
	border-color: #D3D3D3;
}



/*---------------------------------------------------
-----------------CONTENUTO AGGIUNTIVO----------------
-----------------------------------------------------*/


/*-------------- home.cgi-------------------*/

#cont_welcome{
	height: auto;
}

